.hamburger {
  width: 30px;
  height: 40px;
  background: url(../img/Hamburger.svg);
}

.header-content {
  /* grid-template-columns: 1fr 75% 1fr;
  grid-template-rows: 150px 1fr; */
}
/* .nav-list {
  list-style: none;
  align-self: center;
  justify-self: end;
  font-size: 30px;
  grid-area: 1/2/1/4;
} */
.li-item {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  transition: opacity 100ms;
}
.li-item:hover {
  opacity: 50%;
  color: green;
}
.header {
  position: relative;
}
.nav-bar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  background-image: url("../img/Logo.svg");
  background-repeat: no-repeat;
  padding: 10px;
}

/* .bg-2 {
  height: 100%;
  background: url("../img/bgAsset 4.svg");
  background-position: center center;
  background-size: contain;
  opacity: 50%;
  z-index: -1;
  grid-area: 2/1/2/4;
} */
.header .baner::after {
  content: "New collection";
  font-size: 3rem;
  position: absolute;
  top: 100px;
  right: 10px;
}
.header .baner::before {
  content: "SS`23";
  font-size: 1.5rem;
  position: absolute;
  top: 160px;
  right: 15px;
}

.shop-bag-button {
  cursor: pointer;
  transition: color 300ms ease;
  height: 50px;
  width: 50px;
  background: url("../img/shoping-bag.svg");
}
/* .shop-bag{
  height: 50px;
  width: 50px;
background: url('../img/shoping-bag.svg');
} */
.shop-bag .item {
  width: 100%;
  float: left;
  margin-left: 5px;
  position: relative;
}
.p-empty {
  margin-top: 5px;
  padding: 5px;
  font-size: 30px;
  float: left;
}
.remove-icon {
  color: red;
  float: right;
  position: absolute;
  right: 25px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: color, transform 300ms ease;
}
.remove-icon:hover {
  color: black;
  transform: scale(1.5);
}
.shop-bag .item .item-img {
  float: left;
  width: 20%;
  margin-right: 20px;
}
.shop-bag .item .h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.shop-bag .item .dolar {
  text-align: center;
  position: absolute;
  padding-right: 10px;
  right: 0px;

  bottom: 0px;
}
.active {
  filter: invert(25%) sepia(74%) saturate(4209%) hue-rotate(92deg)
    brightness(95%) contrast(104%);
}
.shop-bag-button:hover {
  color: #008000;
}
.footer {
  text-align: left;
  padding: 50px;
}
.summa {
  position: absolute;
  right: 0px;
  bottom: 5px;
  padding-right: 20px;
  font-weight: bold;
}
@media screen and (max-width: 777px) {
}
